html {
  scroll-behavior: smooth;
  overflow-x: clip;
}
body {
  color: $white;
  font-family: $main-font;
  letter-spacing: 0.04em;
  /* background-image: url(../images/body-bcg.jpg); */
  background-image: url(../images/body-bcg-1.png);
  background-size: contain;
  background-attachment: fixed;

  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  cursor: $cursor-dark;
}

textarea {
  resize: none;
}
