// colors
$main-color: #84a178;
$mobile-menu-green: #85a279;
$tablet-menu-green: #97af8d;
$products-green: #aec6a5;
$dark-green: #0a8817;
$green: #96af8c;

$accent-color: #f8d24e;
$products-yellow: #efd478;
$brown: #d6936d;

$white: #fcfcfc;
$black: #131313;
$grey-text: #ababab;
$footer-text: #7a7a7a;
$grey-dot: #d9d9d9;

// fonts
$main-font: 'Montserrat', sans-serif;
$heading-font: 'Seymour One', sans-serif;
$advantages-font: 'Roboto', sans-serif;

//  animation
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);

//  cursor
$cursor-dark: url('../images/cursor-dark.svg'), auto;
$cursor-light: url('../images/cursor.svg'), auto;
