@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  padding-inline: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-inline: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-inline: 16px;
  }
}

body {
  color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
  background-image: url(../images/body-bcg.jpg);
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

.about {
  padding: 60px 0;
  background: #84a178;
  text-align: center;
}
.about .about__uppertitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2222222222;
}
@media screen and (min-width: 768px) {
  .about .about__uppertitle {
    font-weight: 800;
    font-size: 22px;
  }
}
.about .about__title {
  text-transform: uppercase;
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.26;
  margin-top: 1.2666666667;
}
@media screen and (min-width: 768px) {
  .about .about__title {
    font-size: 34px;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .about .about__block {
    display: flex;
    gap: 32px;
    margin-top: 72px;
  }
}
.about .about__bg {
  margin-top: 32px;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), linear-gradient(to right, #d9d9d9, #d9d9d9);
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .about .about__bg {
    width: 336px;
  }
}
.about .about__img {
  margin-top: 21px;
}
@media screen and (min-width: 768px) {
  .about .about__img {
    width: 336px;
  }
}
.about .about__wrapper {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .about .about__wrapper {
    width: 336px;
    text-align: start;
  }
}
.about .about__text {
  font-size: 12px;
  line-height: 1.75;
}
@media screen and (min-width: 768px) {
  .about .about__text:not(:first-child) {
    margin-top: 8px;
  }
}
.about .about__btn {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .about .about__btn {
    margin-top: 48px;
  }
}
.about .about__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  margin-top: 42px;
}
@media screen and (min-width: 768px) {
  .about .about__list {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 53px;
  }
}
@media screen and (min-width: 768px) {
  .about .about__item {
    width: 152px;
  }
}
.about .about__svg-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #f8d24e;
  border: none;
}
.about .about__icon {
  width: 36px;
  height: 36px;
}
.about .about__undertitle {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  margin-top: 16px;
  letter-spacing: 0.04em;
  line-height: 1.1666666667;
}
@media screen and (min-width: 768px) {
  .about .about__undertitle {
    font-size: 48px;
    line-height: 1.2291666667;
    margin-top: 32px;
  }
}
.about .about__description {
  font-weight: 700;
  font-size: 12px;
  margin-top: 18px;
  line-height: 1.6666666667;
}
@media screen and (min-width: 768px) {
  .about .about__description {
    font-size: 14px;
    line-height: 1.7142857143;
    font-weight: 400;
    margin-top: 16px;
  }
}

.secondary-btn, .adaptive-btn, .primary-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2857142857;
  padding: 11px 33px;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
}

.primary-btn {
  background-color: #f8d24e;
  border: none;
}
.primary-btn:hover {
  background-color: #0a8817;
}
.primary-btn:focus {
  background-color: #0a8817;
  color: #fcfcfc;
}
.primary-btn:disabled {
  background-color: #ababab;
}

.secondary-btn, .adaptive-btn {
  background-color: transparent;
  border: 2px solid #f8d24e;
}
.secondary-btn:hover, .adaptive-btn:hover {
  border-color: #0a8817;
}
.secondary-btn:focus, .adaptive-btn:focus {
  border-color: #0a8817;
  color: #fcfcfc;
}
.secondary-btn:disabled, .adaptive-btn:disabled {
  border-color: #ababab;
}

@media (max-width: 1199px) {
  .adaptive-btn {
    padding: 6px 10px;
  }
}

.footer {
  background-color: red;
}

header {
  width: 100%;
  padding-block: 12px;
  overflow: hidden;
  background-color: #84a178;
}
@media screen and (min-width: 768px) {
  header {
    padding-block: 20px;
  }
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header__btn {
  min-width: 152px;
  right: calc(50% - 76px);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  padding-top: 100px;
  transform: translateX(100%);
  transition: transform 350ms ease-in-out;
  text-align: center;
  background-color: #85a279;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    background-color: #97af8d;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.nav__item {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.21875;
}
.nav__item:not(last-child) {
  margin-bottom: 32px;
}
.nav__btn {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  z-index: 9;
  cursor: pointer;
  fill: #fcfcfc;
}
.nav__btn.is-open .nav__close {
  transform: translateX(0);
}
.nav__btn.is-open .nav__open {
  transform: translateX(50px);
}
.nav__icon {
  width: 32px;
  height: 32px;
}
.nav__close {
  transform: translateX(-50px);
  transition: transform 350ms ease-in-out;
}
.nav__open {
  transform: translateX(0);
  transition: transform 350ms ease-in-out;
}

.logo__icon {
  width: 40px;
  height: 37px;
  fill: #f8d24e;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    width: 48px;
    height: 44px;
  }
}

.reviews {
  padding-top: 80px;
}
.reviews__img {
  margin: 0 auto 32px auto;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .reviews__img {
    margin-bottom: 28px;
  }
}
.reviews__text {
  padding: 34px 39px;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 2.5833333333;
  text-align: center;
  border-radius: 10px;
  background-color: #84a178;
}
@media screen and (min-width: 768px) {
  .reviews__text {
    padding: 28px 80px;
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.8571428571;
    border-radius: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__text {
    padding: 39px 74px;
    font-size: 16px;
    line-height: 1.875;
  }
}
.reviews__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .reviews__name {
    font-size: 16px;
    line-height: 1.875;
  }
}/*# sourceMappingURL=index.css.map */