<section class="advantages container">
  <div class="advantages-main">
    <ul class="advantages__item" >
    <li >
      <a  class="">
        <svg class=""" width="50" height="50">
          <use hre ></use>
        </svg>
      </a>
      <h2 class="advantages-item">721</h2>
      <p class="advantages-link">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
        <a  class="">
        <svg class=""" width="50" height="50">
          <use  ></use>
        </svg>
      </a>
      <h2 class="advantages-item">16kg</h2>
      <p class="advantages-link">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li>
        <a hre class="">
        <svg class=""" width="50" height="50">
          <use hre ></use>
        </svg>
      </a>
      <h2 class="advantages-item">84</h2>
      <p class="advantages-link">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
  </div>
</section>
