<div class="backdrop is-hidden backdrop--buynow" data-buy-mobile-overlay>
  <div class="modal" data-buy-mobile-modal>
    <!-- close-icon -->
    <svg class="modal__close-icon" width="16" height="16" data-buy-mobile-close>
      <use href="./images/sprite.svg#icon-cross"></use>
    </svg>

    <div class="modal-content">
      <p class="modal-content__title">Buy now</p>

      <ul class="modal-bn-list">
        <li class="modal-bn-item">
          <input
            class="modal-bn-checkbox modal-bn-checkbox--fp visually-hidden"
            type="checkbox"
            id="choose-option--fp"
          />
          <label
            class="modal-bn-product modal-bn-product--fp"
            for="choose-option--fp"
          >
            <span
              class="modal-bn-product__border modal-bn-product__border--fp"
            ></span>
            <span
              class="modal-bn-product__overlay modal-bn-product__overlay--fp"
            ></span>
            <img
              src="./images/products/product-1-200-sm.png"
              alt="морозиво"
              class="modal-bn-product__img"
              width="131"
              height="131"
            />
            <span class="modal-bn-product__text">ice cream</span>
          </label>
        </li>

        <li class="modal-bn-item">
          <input
            class="modal-bn-checkbox modal-bn-checkbox--sp visually-hidden"
            type="checkbox"
            id="choose-option--sp"
          />
          <label
            class="modal-bn-product modal-bn-product--sp"
            for="choose-option--sp"
          >
            <span
              class="modal-bn-product__border modal-bn-product__border--sp"
            ></span>
            <span
              class="modal-bn-product__overlay modal-bn-product__overlay--sp"
            ></span>
            <img
              src="./images/products/product-2-200-sm.png"
              alt="морозиво"
              class="modal-bn-product__img"
              width="131"
              height="131"
            />
            <span class="modal-bn-product__text">ice coffee</span>
          </label>
        </li>

        <li class="modal-bn-item">
          <input
            class="modal-bn-checkbox modal-bn-checkbox--tp visually-hidden"
            type="checkbox"
            id="choose-option--tp"
          />
          <label
            class="modal-bn-product modal-bn-product--tp"
            for="choose-option--tp"
          >
            <span
              class="modal-bn-product__border modal-bn-product__border--tp"
            ></span>
            <span
              class="modal-bn-product__overlay modal-bn-product__overlay--tp"
            ></span>
            <img
              src="./images/products/product-3-200-sm.png"
              alt="морозиво"
              class="modal-bn-product__img"
              width="131"
              height="131"
            />
            <span class="modal-bn-product__text">milkshake</span>
          </label>
        </li>
      </ul>

      <form action="" class="bn-form">
        <div class="bn-block">
          <input
            type="text"
            name="name"
            id="bn-name"
            placeholder="Name"
            class="bn-input"
            required
            aria-label="name"
          />
        </div>
        <div class="bn-block">
          <input
            type="tel"
            name="tel"
            id="bn-tel"
            placeholder="Phone"
            class="bn-input"
            required
            aria-label="phone number"
          />
        </div>
        <div class="bn-block">
          <textarea
            name="comment"
            id="bn-comment"
            rows="10"
            placeholder="Comment"
            class="bn-comment"
            required
            aria-label="comment"
          ></textarea>
        </div>
        <button type="submit" class="bn-button" aria-label="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Tablet & Desktop -->

<div class="tab-backdrop is-hidden" data-buy-desktop-overlay>
  <div class="tab-modal" data-buy-desktop-modal>
    <!-- close-icon -->
    <svg
      class="tab-modal__close-icon"
      width="16"
      height="16"
      data-buy-desktop-close
    >
      <use href="./images/sprite.svg#icon-cross"></use>
    </svg>

    <div class="tab-modal-content">
      <p class="tab-modal-content__title">Buy now</p>

      <ul class="tab-modal-bn-list">
        <li class="tab-modal-bn-item">
          <input
            class="tab-modal-bn-checkbox tab-modal-bn-checkbox--fp visually-hidden"
            type="checkbox"
            id="tab-choose-option--fp"
          />
          <label
            class="tab-modal-bn-product tab-modal-bn-product--fp"
            for="tab-choose-option--fp"
          >
            <span
              class="tab-modal-bn-product__border tab-modal-bn-product__border--fp"
            ></span>
            <span
              class="tab-modal-bn-product__overlay tab-modal-bn-product__overlay--fp"
            ></span>
            <img
              src="./images/products/product-1-200-sm.png"
              alt="морозиво"
              class="tab-modal-bn-product__img"
              width="131"
              height="131"
            />
            <span class="tab-modal-bn-product__text">ice cream</span>
          </label>
        </li>

        <li class="tab-modal-bn-item">
          <input
            class="tab-modal-bn-checkbox tab-modal-bn-checkbox--sp visually-hidden"
            type="checkbox"
            id="tab-choose-option--sp"
          />
          <label
            class="tab-modal-bn-product tab-modal-bn-product--sp"
            for="tab-choose-option--sp"
          >
            <span
              class="tab-modal-bn-product__border tab-modal-bn-product__border--sp"
            ></span>
            <span
              class="tab-modal-bn-product__overlay tab-modal-bn-product__overlay--sp"
            ></span>
            <img
              src="./images/products/product-2-200-sm.png"
              alt="морозиво"
              class="tab-modal-bn-product__img"
              width="131"
              height="131"
            />
            <span class="tab-modal-bn-product__text">ice coffee</span>
          </label>
        </li>

        <li class="tab-modal-bn-item">
          <input
            class="tab-modal-bn-checkbox tab-modal-bn-checkbox--tp visually-hidden"
            type="checkbox"
            id="tab-choose-option--tp"
          />
          <label
            class="tab-modal-bn-product tab-modal-bn-product--tp"
            for="tab-choose-option--tp"
          >
            <span
              class="tab-modal-bn-product__border tab-modal-bn-product__border--tp"
            ></span>
            <span
              class="tab-modal-bn-product__overlay tab-modal-bn-product__overlay--tp"
            ></span>
            <img
              src="./images/products/product-3-200-sm.png"
              alt="морозиво"
              class="tab-modal-bn-product__img"
              width="131"
              height="131"
            />
            <span class="tab-modal-bn-product__text">milkshake</span>
          </label>
        </li>
      </ul>

      <form action="" class="tab-bn-form">
        <div class="tab-bn-block">
          <input
            type="text"
            name="name"
            id="tab-bn-name"
            placeholder="Name"
            class="tab-bn-input"
            required
            aria-label="name"
          />
        </div>
        <div class="tab-bn-block">
          <input
            type="tel"
            name="tel"
            id="tab-bn-tel"
            placeholder="Phone"
            class="tab-bn-input"
            required
            aria-label="phone number"
          />
        </div>
        <div class="tab-bn-block">
          <textarea
            name="comment"
            id="tab-bn-comment"
            rows="10"
            placeholder="Comment"
            class="tab-bn-comment"
            required
            aria-label="comment"
          ></textarea>
        </div>
        <button type="submit" class="tab-bn-button" aria-label="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>

<!-- <ul class="modal-list">
  <li class="modal-item">
    <span class="modal-item__overlay"></span>
    <img
      src="./images/products/product-1-200-sm.png"
      alt="морозиво"
      class="modal-item__img"
      width="131"
      height="131"
    />
    <p class="modal-item__text">ice cream</p>
    <span class="modal-item__border"></span>
  </li>
  <li class="modal-item"></li>
  <li class="modal-item"></li>
</ul> -->
