<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <!-- close-icon -->
    <svg class="modal__close-icon" width="16" height="16" data-modal-close>
      <use href="./images/sprite.svg#icon-cross"></use>
    </svg>

    <div class="modal-content">
      <p class="modal-content__title">Buy now</p>

      <!-- options-choice -->
      <!-- <div class="purchase-option"> -->
      <!-- <input class="checkbox-option" type="checkbox" id="choose-option" /> -->
      <!-- <label class="checkbox" for="choose-option">
      <div class="checkbox__img">
            <img
              src="./images/products/product-1-200-sm.png"
              alt="морозиво"
              class="checkbox__img-product"
              width="131"
              height="131"
            />
          </div> -->
      <!-- <span class="checkbox__img-overlay"></span> -->
      <!-- <img
            src="./images/products/product-1-200-sm.png"
            alt="морозиво"
            class="checkbox__img"
            width="131"
            height="131"
          /> -->

      <!-- <div class="checkbox__name">ice cream</div> -->
      <!-- </label> -->
      <!-- </div> -->

      <ul class="modal-bn-list">
        <li class="modal-bn-item">
          <input
            class="modal-bn-checkbox modal-bn-checkbox--fp visually-hidden"
            type="checkbox"
            id="choose-option"
          />
          <label
            class="modal-bn-product modal-bn-product--fp"
            for="choose-option"
          >
            <span
              class="modal-bn-product__border modal-bn-product__border--fp"
            ></span>
            <span
              class="modal-bn-product__overlay modal-bn-product__overlay-fp"
            ></span>
            <img
              src="./images/products/product-1-200-sm.png"
              alt="морозиво"
              class="modal-bn-product__img"
              width="131"
              height="131"
            />
            <p class="modal-bn-product__text">ice cream</p>
          </label>
        </li>

        <li class="modal-bn-item">
          <input
            class="modal-bn-checkbox modal-bn-checkbox--sp visually-hidden"
            type="checkbox"
            id="choose-option"
          />
          <label
            class="modal-bn-product modal-bn-product--sp"
            for="choose-option"
          >
            <span
              class="modal-bn-product__border modal-bn-product__border--sp"
            ></span>
            <span
              class="modal-bn-product__overlay modal-bn-product__overlay--sp"
            ></span>
            <img
              src="./images/products/product-1-200-sm.png"
              alt="морозиво"
              class="modal-bn-product__img"
              width="131"
              height="131"
            />
            <p class="modal-bn-product__text">ice coffee</p>
          </label>
        </li>

        <li class="modal-bn-item">
          <input
            class="modal-bn-checkbox modal-bn-checkbox--tp visually-hidden"
            type="checkbox"
            id="choose-option"
          />
          <label
            class="modal-bn-product modal-bn-product--tp"
            for="choose-option"
          >
            <span
              class="modal-bn-product__border modal-bn-product__border--tp"
            ></span>
            <span
              class="modal-bn-product__overlay modal-bn-product__overlay--tp"
            ></span>
            <img
              src="./images/products/product-1-200-sm.png"
              alt="морозиво"
              class="modal-bn-product__img"
              width="131"
              height="131"
            />
            <p class="modal-bn-product__text">milkshake</p>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <ul class="modal-list">
  <li class="modal-item">
    <span class="modal-item__overlay"></span>
    <img
      src="./images/products/product-1-200-sm.png"
      alt="морозиво"
      class="modal-item__img"
      width="131"
      height="131"
    />
    <p class="modal-item__text">ice cream</p>
    <span class="modal-item__border"></span>
  </li>
  <li class="modal-item"></li>
  <li class="modal-item"></li>
</ul> -->
