<div class="backdrop is-hidden" data-contacts-location-overlay>
  <div class="contacts__location-modal" data-contacts-location-modal>
    <svg
      class="modal__close-icon"
      width="16"
      height="16"
      data-contacts-location-close
    >
      <use href="./images/sprite.svg#icon-cross"></use>
    </svg>
    <h2 class="contacts__location-modal-header">Our Locations</h2>
    <div class="contacts__location-modal--map">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            class="maps__iframe"
            width="448"
            height="260"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=10340%20Ridgeland%20Ave%20Chicago%20Ridge,%20IL%2060415%20USA&t=&z=13&ie=UTF8&iwloc=&output=embed"
            title="address"
          ></iframe
          ><br />
        </div>
      </div>
    </div>
    <div class="contacts__modal-location--button-pos">
      <a
        href="http://maps.google.com/?q=10340%20Ridgeland%20Ave,%20Chicago%20Ridge,%20IL%2060415,%20USA"
        class="primary-btn"
        target="_blank"
        aria-label="open map"
        rel="noopener nofollow noreferrer"
        >Open map</a
      >
    </div>
  </div>
</div>
