<div class="backdrop is-hidden" data-contacts-location-overlay>
  <div class="contacts__location-modal" data-contacts-location-modal>
    <svg
      class="modal__close-icon"
      width="16"
      height="16"
      data-contacts-location-close
    >
      <use href="./images/sprite.svg#icon-cross"></use>
    </svg>
    <h2 class="contacts__location-modal-header">Our Locations</h2>
    <div class="contacts__location-modal--map">
      <img
        srcset="
          ./images/contacts_modals/map.jpg  224w,
          ./images/contacts_modals/map2.jpg 448w
        "
        src="./images/contacts_modals/map.jpg"
        alt="map img"
        class="contacts__location-modal--img"
      />
    </div>
    <div class="contacts__modal-location--button-pos">
      <button type="button" class="primary-btn">Open map</button>
    </div>
  </div>
</div>
