<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="contacts__title">Contacts</h2>
    <ul class="contacts__card" data-aos="fade-up">
      <li class="contacts__card-item">
        <p class="contacts__restaurant">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <a
          href="http://maps.google.com/?q=10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA"
          class="contacts__restaurant-adress"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
        <div class="contacts__line"></div>
        <ul class="contacts__restaurant-schedule">
          <li class="contacts__restaurant-schedule-item">
            <p class="contacts__restaurant-schedule-item--day">
              Monday - Friday
            </p>
            <p class="contacts__restaurant-schedule-item--time">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__restaurant-schedule-item">
            <p class="contacts__restaurant-schedule-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__restaurant-schedule-item--time">
              08:00 AM - 16:00 PM
            </p>
            <div class="contacts__line"></div>
          </li>
        </ul>
        <ul class="contacts__adress">
          <li class="contacts__adress-item">
            <a href="tel:+610383766284" class="contacts__adress-item--phone"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__adress-item">
            <a
              href="mailto:noreply@envato.com"
              class="contacts__adress-item--mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card-item">
        <p class="contacts__restaurant">FOODTRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <a
          href="http://maps.google.com/?q=1003 Manhattan Ave, Manhattan Beach, CA 90263, USA"
          class="contacts__restaurant-adress"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <div class="contacts__line"></div>
        <ul class="contacts__restaurant-schedule">
          <li class="contacts__restaurant-schedule-item">
            <p class="contacts__restaurant-schedule-item--day">
              Monday - Friday
            </p>
            <p class="contacts__restaurant-schedule-item--time">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__restaurant-schedule-item">
            <p class="contacts__restaurant-schedule-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__restaurant-schedule-item--time">
              08:00 AM - 16:00 PM
            </p>
            <div class="contacts__line"></div>
          </li>
        </ul>
        <ul class="contacts__adress">
          <li class="contacts__adress-item">
            <a href="tel:+610383766284" class="contacts__adress-item--phone"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__adress-item">
            <a
              href="mailto:noreply@envato.com"
              class="contacts__adress-item--mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card-item">
        <p class="contacts__restaurant">CAFE</p>
        <p class="contacts__city">New York</p>
        <a
          href="http://maps.google.com/?q=726 Sterling Pl, Brooklyn, NY 11222, USA"
          class="contacts__restaurant-adress"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
        <div class="contacts__line"></div>
        <ul class="contacts__restaurant-schedule">
          <li class="contacts__restaurant-schedule-item">
            <p class="contacts__restaurant-schedule-item--day">
              Monday - Friday
            </p>
            <p class="contacts__restaurant-schedule-item--time">
              06:00 AM - 10:00 PM
            </p>
          </li>
          <li class="contacts__restaurant-schedule-item">
            <p class="contacts__restaurant-schedule-item--day">
              Saturday - Sunday
            </p>
            <p class="contacts__restaurant-schedule-item--time">
              08:00 AM - 16:00 PM
            </p>
            <div class="contacts__line"></div>
          </li>
        </ul>
        <ul class="contacts__adress">
          <li class="contacts__adress-item">
            <a href="tel:+610383766284" class="contacts__adress-item--phone"
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contacts__adress-item">
            <a
              href="mailto:noreply@envato.com"
              class="contacts__adress-item--mail"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li class="contacts__buttons-item">
        <button type="button" class="primary-btn contacts__btn" data-contacts-location-open>
          Our Locations
          <svg class="arrow-icon">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__buttons-item">
        <button type="button" class="secondary-btn contacts__btn" data-contacts-franchise-open>
          Franchise
          <svg class="arrow-icon">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
