<footer class="footer ">
  <div class="container footer__base">
    <div>
      <div class="footer__upptitle">
           <span class="footer__upptitle-text">
      homemade ice cream made
    </span>
      </div>
        <h2 class="footer__title">with passion</h2>
    </div>
         <div class="footer__second">
           <ul class="footer__list">
      <li class="footer__item">
        <div class="footer__svg">
          <svg class="footer__icon">
            <use href="./images/sprite.svg#icon-git-hub"></use>
          </svg>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer__svg">
          <svg class="footer__icon">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </div>
      </li>
      <li class="footer__item">
        <div class="footer__svg">
          <svg class="footer__icon">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </div>
      </li>
    </ul>
    <p class="footer__undertitle">
      <span class="footer__undertitle-text">Feel free to contact</span>
      +61 (0) 383 766 284
    </p>
    </div>
   </div>
    </div>
  <div class="footer__border"></div>
    <h3 class="footer__undertitle-link container">
      © 2022 - IceCream.
      All Rights Reserved.
    </h3>
  </div>
  </div>
</footer>
