<section class="gallery">
    <div class="container">
       <div class="gallery__wrapper">
            <picture>
                <source media="(min-width: 768px)" srcset="./images/gallery/gallery-1-1013-bg.png 1x, ./images/gallery/gallery-1-1013-bg-2x.png 2x" type="image/png">
                <source media="(min-width: 768px)" srcset="./images/gallery/gallery-1-704-md.png 1x, ./images/gallery/gallery-1-704-md-2x.png 2x" type="image/png">
                <source media="(max-width: 767px)" srcset="./images/gallery/gallery-1-279-sm.png 1x, ./images/gallery/gallery-1-279-sm-2x.png 2x" type="image/png">
                <img src="./images/gallery/gallery-1-279-sm.png" alt="ice-cream" class="gallery__img">
            </picture>
    
            <picture>
                <source srcset="./images/gallery/gallery-2-716-bg.png 1x, ./images/gallery/gallery-2-716-bg-2x.png 2x" type="image/png">
                <img src="./images/gallery/gallery-2-716-bg.png" alt="ice-cream" class="gallery__img">
            </picture>
            
            <picture>
                <source srcset="./images/gallery/gallery-3-636-bg.png 1x, ./images/gallery/gallery-3-636-bg-2x.png 2x" type="image/png">
                <img src="./images/gallery/gallery-3-636-bg.png" alt="ice-cream" class="gallery__img">
            </picture>
       </div>
    </div>
</section>