<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <div data-aos="fade-up" class="gallery__wrapper">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery-1-1013-lg.webp    1x,
            ./images/gallery/gallery-1-1013-lg-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery-1-1013-lg.jpg    1x,
            ./images/gallery/gallery-1-1013-lg-2x.jpg 2x
          "
          type="image/jpg"
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery-1-704-md.webp    1x,
            ./images/gallery/gallery-1-704-md-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallery/gallery-1-704-md.jpg    1x,
            ./images/gallery/gallery-1-704-md-2x.jpg 2x
          "
          type="image/jpg"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery-1-279-sm.webp    1x,
            ./images/gallery/gallery-1-279-sm-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallery/gallery-1-279-sm.jpg    1x,
            ./images/gallery/gallery-1-279-sm-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/gallery/gallery-1-279-sm.jpg"
          alt="ice-cream"
          class="gallery__img"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./images/gallery/gallery-2-716-lg.webp    1x,
            ./images/gallery/gallery-2-716-lg-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/gallery-2-716-lg.jpg    1x,
            ./images/gallery/gallery-2-716-lg-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/gallery/gallery-2-716-lg.jpg"
          alt="ice-cream"
          class="gallery__img"
        />
      </picture>

      <picture>
        <source
          srcset="
            ./images/gallery/gallery-3-636-lg.webp    1x,
            ./images/gallery/gallery-3-636-lg-2x.webp 2x
          "
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/gallery-3-636-lg.jpg    1x,
            ./images/gallery/gallery-3-636-lg-2x.jpg 2x
          "
          type="image/jpg"
        />
        <img
          src="./images/gallery/gallery-3-636-lg.jpg"
          alt="ice-cream"
          class="gallery__img"
        />
      </picture>
    </div>
  </div>
</section>
