<header class="header" id="home">
  <div class="container">
    <a href="#home" class="logo__link">
      <svg class="logo__icon">
        <use href="./images/sprite.svg#icon-main-logo"></use>
      </svg>
    </a>
    <nav class="nav" data-menu>
      <ul class="nav__list">
        <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
        <li class="nav__item">
          <a href="#about" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">Contact</a>
        </li>
      </ul>
      <button type="button" class="primary-btn header__btn" data-modal-open>
        Buy now
      </button>
    </nav>
    <button type="button" class="nav__btn" data-menu-button>
      <svg
        class="nav__icon"
        aria-label="Вмикач мобільного меню"
        width="32"
        height="32"
      >
        <use class="nav__open" href="./images/sprite.svg#icon-burger"></use>
        <use class="nav__close" href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <button
      type="button"
      class="primary-btn header__tablet-btn"
      data-modal-open
    >
      Buy now
    </button>
  </div>
</header>
<section class="hero">
  <div class="container">
    <h1 class="hero__heading">ice cream made with passion</h1>
    <div class="hero__buttons">
      <button class="adaptive-btn">Products</button>
      <a href="#" class="hero__link">How it's made?</a>
    </div>
    <div class="hero__imgs">
      <svg class="hero__dots">
        <use href="./images/sprite.svg#icon-dots-sm-1"></use>
      </svg>
      <svg class="hero__dots--tablet">
        <use href="./images/sprite.svg#icon-dots-md-1"></use>
      </svg>
      <img src="./images/dots-lg.png" alt="" class="hero__dots--desktop" />
      <picture class="hero__img">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/ice-cream-main-455-lg.png    1x,
            ./images/header-hero/ice-cream-main-910-lg-2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/header-hero/ice-cream-main-270-md.png"
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header-hero/ice-cream-main-170-sm.png    1x,
            ./images/header-hero/ice-cream-main-340-sm-2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/header-hero/ice-cream-main-170sm.png"
          alt="ice-cream"
        />
      </picture>
    </div>
    <div class="hero__tablet">
      <picture>
        <source
          media="(min-width: 1200px)"
          srcset="./images/header-hero/many-ice-cream-450-2x.png"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/header-hero/many-ice-cream-304md-2x.png"
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header-hero/many-ice-cream-152md.png    1x,
            ./images/header-hero/many-ice-cream-304md-2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/header-hero/many-ice-cream-152md.png"
          alt="ice-cream"
          class="hero__plate"
        />
      </picture>
      <div class="hero__descr">
        <p class="hero__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#" class="arrows">
          <svg class="hero__arrow">
            <use href="./images/sprite.svg#icon-arrow-1"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero__numbers">
      <ul>
        <li class="hero__numbers--mb">
          <span class="hero__number">16</span>cafes
        </li>
        <li class="hero__numbers--mb">
          <span class="hero__number">23</span>food trucks
        </li>
      </ul>
    </div>
  </div>
</section>
