<header class="header">
  <div class="container">
    <a href="./index.html" class="logo__link">
      <svg class="logo__icon">
        <use href="./images/sprite.svg#icon-main-logo"></use>
      </svg>
    </a>
    <button type="button" class="nav__btn" data-menu-button>
      <svg class="nav__icon" aria-label="Вмикач мобільного меню">
        <use class="nav__open" href="./images/sprite.svg#icon-burger"></use>
        <use class="nav__close" href="./images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <div class="mobile-menu" data-menu>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">Home</li>
          <li class="nav__item">How it’s made?</li>
          <li class="nav__item">Our products</li>
          <li class="nav__item">Contact</li>
        </ul>
        <button type="button" class="primary-btn header__btn">Buy now</button>
      </nav>
    </div>
  </div>
</header>
<section class="hero">
  <div class="container">
    <h1 class="hero__heading">ice cream made with passion</h1>
    <div class="hero__buttons">
      <a class="adaptive-btn">Products</a>
      <a href="#" class="hero__link">How it's made?</a>
    </div>
    <div class="hero__imgs">
      <svg class="hero__dots">
        <use href="./images/sprite.svg#icon-dots-sm-1"></use>
      </svg>
      <picture class="hero__img">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/header-hero/ice-cream-main-484lg.png     1x,
            ./images/header-hero/ice-cream-main-968-lg-2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/header-hero/ice-cream-main-270md.png"
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/header-hero/ice-cream-main-170sm.png    1x,
            ./images/header-hero/ice-cream-main-340sm-2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/header-hero/ice-cream-main-170sm.png"
          alt="ice-cream"
        />
      </picture>
    </div>
  </div>
</section>
