<section id="products" class="products">
  <div class="container">
    <span class="products__uppertitle">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li data-aos="fade-up" class="products__item--ice-cream">
        <div class="item__wrapper--ice-cream">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products/product-1-200-sm.png    1x,
                ./images/products/product-1-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/product-1-200-sm.png    1x,
                ./images/products/product-1-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1199px)"
              srcset="
                ./images/products/product-1-301-bg.png    1x,
                ./images/products/product-1-602-bg-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/products/product-1-301-bg.png"
              alt="ice cream"
              class="item__img"
              width="201"
              loading="lazy"
            />
          </picture>
        </div>
        <h3 class="item__title">ice cream</h3>
        <p class="item__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="item__button products__btn" aria-label="recipe">
          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-2"></use></svg
        ></button>
      </li>
      <li data-aos="fade-up" class="products__item--ice-coffee">
        <div class="item__wrapper--ice-coffee">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products/product-2-200-sm.png    1x,
                ./images/products/product-2-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/product-2-200-sm.png    1x,
                ./images/products/product-2-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1199px)"
              srcset="
                ./images/products/product-2-301-bg.png    1x,
                ./images/products/product-2-602-bg-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/products/product-2-301-bg.png"
              alt="ice cream"
              class="item__img"
              width="201"
              loading="lazy"

            />
          </picture>
        </div>
        <h3 class="item__title">ice coffee</h3>
        <p class="item__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button class="item__button products__btn" aria-label="recipe">

          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-2"></use></svg
        ></button>
      </li>

      <li data-aos="fade-up" class="products__item--milkshakes">
        <div class="item__wrapper--milkshakes">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products/product-3-200-sm.png    1x,
                ./images/products/product-3-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/product-3-200-sm.png    1x,
                ./images/products/product-3-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1199px)"
              srcset="
                ./images/products/product-3-301-bg.png    1x,
                ./images/products/product-3-602-bg-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/products/product-3-301-bg.png"
              alt="ice cream"
              class="item__img"
              width="201"
              loading="lazy"

            />
          </picture>
        </div>
        <h3 class="item__title">milkshakes</h3>
        <p class="item__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button class="item__button products__btn" aria-label="recipe">

          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-2"></use></svg
        ></button>
      </li>
    </ul>
  </div>

  <section id="products__modal" class="products__overflow is-hidden">
    <div class="products__modal-container">
      <button type="button" class="products__modal-btn" aria-label="close">
        <svg class="products__modal-icon">
          <use href="./images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <h2 class="products__modal-title">Chololate icecream</h2>
     
      <div class="products__modal--wrapper">
        <picture>
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/products/products-modal-mobile1.png    1x,
              ./images/products/products-modal-mobile2.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 767px)"
            srcset="
              ./images/products/products-modal-tablet-desctop1.png    1x,
              ./images/products/products-modal-tablet-desctop2.png 2x
            "
            type="image/png"
          />
          <source
            media="(min-width: 1199px)"
         srcset="
              ./images/products/products-modal-tablet-desctop1.png    1x,
              ./images/products/products-modal-tablet-desctop2.png 2x
            "
            type="image/png"
          />
          <img src="./images/products/products-modal-mobile1.png" alt="ice cream" class="products__modal--image" width="130" loading="lazy">
        </picture>
      </div>
      <ul class="products__modal--suplements-list">
        <li class="suplements-list__item">kcal <span class="list__item--subitem">320</span>  </li>
        <li class="suplements-list__item">Prote...<span class="list__item--subitem">4g </span></li>
        <li class="suplements-list__item">Fats<span class="list__item--subitem">8,2g </span></li>
        <li class="suplements-list__item">Carbs<span class="list__item--subitem">40,4g </span></li>
      </ul>
      <h3 class="products__modal--subtitle">Ingredients</h3>
      <ul class="products__modal-list">
        <li class="products__modal--item">Milk<span class="modal--item--item">100ml</span></li>
        <li class="products__modal--item">Belgian chocolate<span class="modal--item--item">20g</span></li>
        <li class="products__modal--item">Cream<span class="modal--item--item">150 ml</span></li>
        <li class="products__modal--item">Cocoa powder<span class="modal--item--item"> 30g</span></li>
        <li class="products__modal--item">Sugar<span class="modal--item--item">40g</span></li>
        <li class="products__modal--item">Vanilla sugar<span class="modal--item--item">10g</span></li>
      </ul>
      <form action="" class="products__modal-form">
        <div class="products__modal-block">
          <input
            type="text"
            name="name"
            id="products__modal-name"
            placeholder="Name"
            class="products__modal-input"
            required
            aria-label="name"
          />
        </div>
        <div class="products__modal-block">
          <input
            type="tel"
            name="tel"
            id="products__modal-tel"
            placeholder="Phone"
            class="products__modal-input"
            required
            aria-label="phone number"
          />
        </div>
        <div class="products__modal-block">
          <textarea
            name="comment"
            id="products__modal-comment"
            rows="10"
            placeholder="Comment"
            class="products__modal-comment"
            required
            aria-label="comment"
          ></textarea>
        </div>
        <button type="submit" class="products__modal-button" aria-label="submit form">Submit</button>
      </form>
      </p>
    </div>
  </section>
</section>
