<section class="products">
  <div class="container">
    <span class="products__uppertitle">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item--ice-cream">
        <div class="item__wrapper--ice-cream">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products/product-1-200-sm.png    1x,
                ./images/products/product-1-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/product-1-200-sm.png    1x,
                ./images/products/product-1-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1199px)"
              srcset="
                ./images/products/product-1-301-bg.png    1x,
                ./images/products/product-1-602-bg-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/products/product-1-301-bg.png"
              alt="ice cream"
              class="item__img"
              width="201"
            />
          </picture>
        </div>
        <h3 class="item__title">ice cream</h3>
        <p class="item__description">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <a href="" class="item__link">
          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-2"></use></svg
        ></a>
      </li>
      <li class="products__item--ice-coffee">
        <div class="item__wrapper--ice-coffee">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products/product-2-200-sm.png    1x,
                ./images/products/product-2-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/product-2-200-sm.png    1x,
                ./images/products/product-2-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1199px)"
              srcset="
                ./images/products/product-2-301-bg.png    1x,
                ./images/products/product-2-602-bg-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/products/product-2-301-bg.png"
              alt="ice cream"
              class="item__img"
              width="201"
            />
          </picture>
        </div>
        <h3 class="item__title">ice coffee</h3>
        <p class="item__description">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <a href="" class="item__link">
          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-2"></use></svg
        ></a>
      </li>

      <li class="products__item--milkshakes">
        <div class="item__wrapper--milkshakes">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/products/product-3-200-sm.png    1x,
                ./images/products/product-3-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/products/product-3-200-sm.png    1x,
                ./images/products/product-3-400-sm-2x.png 2x
              "
              type="image/png"
            />
            <source
              media="(min-width: 1199px)"
              srcset="
                ./images/products/product-3-301-bg.png    1x,
                ./images/products/product-3-602-bg-2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./images/products/product-3-301-bg.png"
              alt="ice cream"
              class="item__img"
              width="201"
            />
          </picture>
        </div>
        <h3 class="item__title">milkshakes</h3>
        <p class="item__description">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <a href="" class="item__link">
          <svg class="products__icon">
            <use href="./images/sprite.svg#icon-arrow-2"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
