<section class="reviews">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="reviews__slide swiper-slide">
        <picture>
          <source
            srcset="
              images/reviews/reviews-1.webp    1x,
              images/reviews/reviews-1@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            loading="lazy"
            srcset="
              images/reviews/reviews-1.jpg    1x,
              images/reviews/reviews-1@2x.jpg 2x
            "
            src="images/reviews/reviews-1.jpg"
            alt="customer photo"
            class="reviews__img"
          />
        </picture>
        <div class="reviews__text">
          <p>
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <h2 class="reviews__name">Emily, Los Angeles</h2>
      </div>

      <div class="reviews__slide swiper-slide">
        <picture>
          <source
            srcset="
              images/reviews/reviews-2.webp    1x,
              images/reviews/reviews-2@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            loading="lazy"
            srcset="
              images/reviews/reviews-2.jpg    1x,
              images/reviews/reviews-2@2x.jpg 2x
            "
            src="images/reviews/reviews-2.jpg"
            alt="customer photo"
            class="reviews__img"
          />
        </picture>
        <div class="reviews__text">
          <p>
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>
        <h2 class="reviews__name">Sam, Los Angeles</h2>
      </div>

      <div class="reviews__slide swiper-slide">
        <picture>
          <source
            srcset="
              images/reviews/reviews-3.webp    1x,
              images/reviews/reviews-3@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            loading="lazy"
            srcset="
              images/reviews/reviews-3.jpg    1x,
              images/reviews/reviews-3@2x.jpg 2x
            "
            src="images/reviews/reviews-3.jpg"
            alt="customer photo"
            class="reviews__img"
          />
        </picture>
        <div class="reviews__text">
          <p>
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <h2 class="reviews__name">Diana, Chicago</h2>
      </div>
    </div>
    <div class="reviews__wrapper-dots swiper-pagination"></div>
  </div>
</section>
