<section class="reviews">
  <div class="container">
    <img
      loading="lazy"
      srcset="
        images/reviews/reviews-1.jpg    1x,
        images/reviews/reviews-1@2x.jpg 2x
      "
      src="images/reviews/reviews-1.jpg"
      alt="customer photo"
      class="reviews__img"
    />
    <div class="reviews__text">
      <p>
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <h2 class="reviews__name">Emily, Los Angeles</h2>
  </div>
</section>
