.about {
  padding: 60px 0;
  background: $main-color;
  text-align: center;

  @include tablet {
    padding-bottom: 40px;
  }

  @include desktop {
    padding-bottom: 86px;
  }

  .about__uppertitle {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: calc(22 / 18);

    @include tablet {
      font-weight: 800;
      font-size: 22px;
    }

    @include desktop {
      font-size: 30px;
      line-height: calc(37 / 30);
      font-weight: 800;
    }
  }

  .about__title {
    text-transform: uppercase;
    font-family: $heading-font;
    font-size: 30px;
    line-height: calc(38 / 30);
    margin-top: 12px;

    @include tablet {
      font-size: 34px;
      letter-spacing: 0.06em;
    }

    @include desktop {
      font-size: 36px;
      line-height: calc(45 / 36);
      font-weight: 400;
    }
  }

  .about__block {
    @include tablet {
      display: flex;
      gap: 32px;
      margin-top: 72px;
    }

    @include desktop {
      gap: 100px;
    }

    @include desktop {
      align-items: center;
    }
  }

  .about__bg {
    margin-top: 32px;
    display: inline-block;
    background-image: linear-gradient(
        to right,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      linear-gradient(to right, $grey-dot, $grey-dot);
    border-radius: 50%;

    @include tablet {
      width: 336px;
    }

    @include desktop {
      width: 490px;
    }
  }

  .about__img {
    margin-top: 21px;

    @include tablet {
      width: 336px;
    }

    @include desktop {
      width: 490px;
    }
  }

  .about__wrapper {
    margin-top: 40px;

    @include tablet {
      width: 336px;
      text-align: start;
    }

    @include desktop {
      width: 463px;
    }
  }

  .about__text {
    font-size: 12px;
    line-height: calc(21 / 12);

    &:last-of-type {
      display: none;
    }

    &:not(:first-child) {
      margin-top: 4px;
    }

    @include tablet {
      &:not(:first-child) {
        margin-top: 8px;
      }
      &:last-of-type {
        display: block;
      }
    }

    @include desktop {
      font-size: 16px;
      line-height: calc(28 / 16);

      &:not(:first-child) {
        font-size: 14px;
        line-height: calc(27 / 14);
      }
      &:last-of-type {
        display: block;
      }
    }
  }

  .about__btn {
    margin-top: 20px;

    @include tablet {
      margin-top: 48px;
    }
  }

  .about__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    margin-top: 42px;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 53px;
    }

    @include desktop {
      gap: 32px;
      margin-top: 60px;
    }
  }

  .about__item {
    @include tablet {
      width: 152px;
    }

    @include desktop {
      width: 368px;
    }
  }

  .about__svg-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: $accent-color;
    border: none;
  }

  .about__icon {
    width: 36px;
    height: 36px;
  }

  .about__undertitle {
    font-family: $advantages-font;
    font-size: 36px;
    margin-top: 16px;
    letter-spacing: 0.04em;
    line-height: calc(42 / 36);

    @include tablet {
      font-size: 48px;
      line-height: calc(59 / 48);
      margin-top: 32px;
      font-family: $main-font;
    }

    @include desktop {
      font-size: 58px;
      font-family: $main-font;
      line-height: calc(71 / 58);
      margin-top: 40px;
    }
  }

  .about__description {
    font-weight: 700;
    font-size: 12px;
    margin-top: 18px;
    line-height: calc(20 / 12);

    @include tablet {
      font-size: 14px;
      line-height: calc(24 / 14);
      font-weight: 400;
      margin-top: 16px;
    }

    @include desktop {
      font-size: 16px;
      line-height: calc(28 / 16);
      margin-top: 16px;
    }
  }
}
