.about__overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    opacity: 1;
    transition: opacity 500ms $cubic-bezier;
    z-index: 1;


    .about__modal-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0;
        display: block;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
        color: $accent-color;

        @include tablet {
            top: 20px;
            right: 20px;
         }
    }

    .about__modal-icon {
        width: 16px;
        height: 16px;


        transition: fill 250ms $cubic-bezier;

        &:hover,
        &:focus {
            cursor: $cursor-dark;
            fill: currentColor;
        }

        @include tablet {
            width: 20px;
            height: 20px;
         }


    }

    .about__modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 320px;
        border: 1px solid $accent-color;
        border-radius: 10px;
        background: $white;
        padding: 28px;

        @include tablet {
            padding: 32px 60px;
            max-width: 569px;
        }
    }

    .about__modal-title {
        color: $black;

        text-align: center;
        font-family: $heading-font;
        font-size: 16px;
        line-height: calc(24/16);

        @include tablet {
            font-size: 20px;
            line-height: calc(28/20);
        }
    }

    .about__modal-video {
        width: 100%;
        height: 199px;
        margin-top: 20px;
        background: $black;
        border: 1px solid $black;
        border-radius: 10px;

        @include tablet {
            margin-top: 32px;
            max-height: 205px;
            width: 448px;
        }
    }

    .about__modal-text {
        margin-top: 20px;
        line-height: calc(20/14);
        font-size: 14px;
        color: $black;
        font-family: $main-font;

        @include tablet {
            margin-top: 32px;
            font-size: 16px;
            line-height: calc(22/16);
         }
    }
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}
