.contacts__location-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;

  transform: translate(-50%, -50%) scale(1);

  background: $white;

  border-radius: 10px;
  border: 2px solid $accent-color;

  margin: 0 auto;
  padding: 22px 0;
  & .modal__close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  max-width: 320px;
  width: 100%;

  @include tablet {
    padding: 30px 58px;

    max-width: 568px;
    width: 100%;

    & .modal__close-icon {
      position: absolute;
      top: 24px;
      right: 24px;
    }
  }
}

.contacts__location-modal-header {
  font-family: $heading-font;
  font-size: 16px;
  margin-bottom: 20px;

  color: $black;
  text-align: center;
}

.contacts__location-modal--map {
  margin: 0 auto;
  width: 100%;
  height: 199px;

  margin-bottom: 24px;

  @include tablet {
    height: 260px;
    margin-bottom: 32px;
  }
}

.contacts__location-modal--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contacts__modal-location--button-pos {
  display: flex;
  justify-content: center;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 268px;
  height: 200px;
  margin: 0 auto;

  @include tablet {
    width: 448px;
    height: 300px;
  }
}

.maps-iframe {
  width: 100%;
  height: 100%;
}
