.contacts__franchise-modal {
  color: $black;

  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  background: $white;

  border-radius: 10px;
  border: 2px solid $accent-color;

  margin: 0 auto;
  padding: 26px 26px;
  height: 100%;
  max-height: 684px;
  overflow-y: scroll;

  @include desktop {
    overflow-y: visible;
    max-height: 568px;
  }

  & .modal__close-icon {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  max-width: 280px;
  width: 100%;

  @include tablet {
    padding: 30px 60px;

    max-width: 568px;
    width: 100%;

    & .modal__close-icon {
      position: absolute;
      top: 24px;
      right: 24px;
    }
  }
}

.contacts__franchise-modal-header {
  font-family: $heading-font;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: normal;

  line-height: 1.5;
  margin-bottom: 20px;

  text-align: center;

  @include tablet {
    margin: 0 80px;
    margin-bottom: 24px;
  }
}

.contacts__franchise-modal-text {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 24px;
}

.contacts__modal-location--button-pos {
  letter-spacing: normal;
}

.franchise__input-style {
  margin-bottom: 12px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $main-color;
  border-radius: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;

  width: 100%;
  height: 32px;
  padding-left: 12px;

  @include tablet {
    width: 80%;
    margin-left: 10%;
  }
}

.franchise__input-textarea {
  margin-bottom: 24px;
  height: 64px;
  width: 100%;
  padding-left: 12px;
  padding-top: 8px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $main-color;
  border-radius: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;

  @include tablet {
    width: 80%;
    margin-left: 10%;
  }
}

.modal__close-icon {
  cursor: $cursor-dark;
  transition: fill 250ms ease-in-out;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
