.gallery {
    background: none;
    background: linear-gradient(to bottom, $main-color 24px, transparent 24px);

    @include tablet {
        background: linear-gradient(to bottom, $main-color 50%, transparent 50%);
    }

    @include desktop {
        background: linear-gradient(to bottom, $main-color 94px, transparent 94px);
    }

    .gallery__wrapper {
        height: 130px;

        @include tablet {
            height: 327px;
        }

        @include desktop {
            height: 327px;
        }
    }

    .gallery__img {
        margin: 0 auto;
        max-height: 130px;
        @include tablet {
            max-height: 327px;
        }

        @include desktop {
            height: 422px;
        }
    }

    .animate__slideInRight {
        animation: fadeIn 750ms $cubic-bezier;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }

    .swing-in-top-fwd{
        animation:swing-in-top-fwd 750ms $cubic-bezier both
    }

    @keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}
}