.products {
  padding: 60px 0;
  display: block;

  @include tablet {
    padding: 61px 0 82px 0;
  }

  @include desktop {
    padding: 60px 0;
  }

  &__uppertitle {
    display: block;
    text-align: center;

    align-items: center;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;

    text-transform: uppercase;
    color: $black;

    @include tablet {
      font-size: 22px;
      line-height: 27px;
    }

    @include desktop {
      font-size: 30px;
      line-height: 37px;
      letter-spacing: 0.04em;
    }
  }

  &__title {
    font-family: 'Seymour One';
    text-align: center;
    margin-top: 12px;

    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $black;

    @include tablet {
      font-size: 34px;
      line-height: 43px;
    }

    @include desktop {
      font-size: 36px;
      line-height: 45px;
    }
  }
  &__list {
    margin-top: 148px;

    @include tablet {
      display: flex;
      gap: 16px;
      margin-top: 200px;
    }

    @include desktop {
      gap: 32px;
      margin-top: 303px;
    }
  }

  &__item--ice-cream {
    position: relative;
    background: #aec6a5;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-bottom: 164px;
    min-height: 420px;

    @include tablet {
      margin-bottom: 0px;
      width: 224px;
      min-height: 428px;
    }

    @include desktop {
      width: 370px;
    }
  }

  &__item--ice-coffee {
    position: relative;
    background: #efd478;
    border-radius: 24px;
    margin-bottom: 164px;
    min-height: 420px;

    @include tablet {
      margin-bottom: 0px;
      width: 224px;
      min-height: 428px;
    }
    @include desktop {
      width: 370px;
      min-height: 535px;
    }
  }

  &__item--milkshakes {
    position: relative;
    background: #d6936d;
    border-radius: 24px;
    min-height: 420px;

    @include tablet {
      margin-bottom: 164px;
    }
    @include tablet {
      margin-bottom: 0px;
      width: 224px;
      min-height: 428px;
    }
    @include desktop {
      width: 370px;
      min-height: 535px;
    }
  }

  .item {
    &__wrapper--ice-cream {
      width: 201px;
      height: 200px;
      left: 0;
      right: 0;
      top: -100px;
      margin: auto;

      display: inline-block;
      position: absolute;

      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
      border-radius: 50%;

      @include desktop {
        width: 301px;
        height: 300px;
        top: -170px;
      }
    }

    &__wrapper--ice-coffee {
      width: 201px;
      height: 200px;

      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      position: absolute;
      top: -100px;

      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
      border-radius: 50%;
      @include desktop {
        width: 301px;
        height: 300px;
        top: -170px;
      }
    }
    &__wrapper--milkshakes {
      display: inline-block;
      position: absolute;
      top: -100px;
      width: 201px;
      height: 200px;
      left: 0;
      right: 0;
      margin: auto;

      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      @include desktop {
        width: 301px;
        height: 300px;
        top: -170px;
      }
    }

    &__img {
      margin-top: -10px;

      @include desktop {
        width: 301px;
        height: 300px;
      }
    }

    &__title {
      padding-top: 123px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $black;

      @include tablet {
        font-size: 22px;
        line-height: 27px;
      }
      @include desktop {
        padding-top: 166px;
        font-size: 30px;
        line-height: 37px;
      }
    }

    &__description {
      font-weight: 400;
      text-align: center;
      line-height: 176%;
      letter-spacing: 0.04em;
      color: $black;
      font-size: 14px;
      padding: 40px 40px 0 40px;

      @include tablet {
        padding: 40px 26px 0 26px;
      }

      @include desktop {
        font-size: 16px;
        padding: 65px 64px 0 64px;
      }
    }

    &__button {
      border: none;
      background-color: transparent;
      position: absolute;
      top: 380px;
      margin: 0 42%;
      transition-property: width;
      transition-duration: 255ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      @include tablet {
        top: 400px;
        margin: 0 39%;
      }

      @include desktop {
        top: 480px;
        margin: 0 44%;
      }
      &:hover {
        cursor: $cursor-dark;
      }
      &:focus {
        cursor: $cursor-dark;
      }
    }
  }

  .products__icon {
    width: 40px;
    height: 24px;
    transition-property: width;
    transition-duration: 255ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      width: 50px;
    }
    &:focus {
      width: 60px;
    }
  }
}
