.products__overflow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 990px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms $cubic-bezier;
  overflow-y: scroll;
  z-index: 998;
  @include tablet {
    max-height: 995px;
  }

  .products__modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    color: $accent-color;

    @include tablet {
      top: 20px;
      right: 20px;
    }
  }

  .products__modal-icon {
    width: 16px;
    height: 16px;

    transition: fill 250ms $cubic-bezier;

    &:hover,
    &:focus {
      cursor: $cursor-dark;
      fill: currentColor;
    }

    @include tablet {
      width: 20px;
      height: 20px;
    }
  }

  .products__modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    border: 1px solid $accent-color;
    border-radius: 10px;
    background: $white;
    padding: 28px 20px 32px;
    height: 100%;
    overflow-y: scroll;

    @include tablet {
      padding: 32px 40px;
      max-width: 568px;
    }
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.products__modal-title {
  font-family: 'Seymour One';
  color: $black;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 29px;
  //margin: 28px 69px 0 69px;

  @include tablet {
    //margin: 32px 147px 0 147px;
  }
}
.products__modal--suplements-list {
  margin-top: 187px;
  display: flex;
  gap: 9px;
  justify-content: space-between;

  @include tablet {
    gap: 20px;
    padding: 0 20px;
  }

  @include desktop {
    margin-top: 350px;
    gap: 20px;
    padding: 0 50px;
  }
}
.suplements-list__item {
  display: block;
  position: relative;
  width: 53px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;

  color: #131313;
  border: 2px solid #9cbe8f;
  border-radius: 40px;
  text-align: center;
  padding-top: 18%;
  padding-bottom: 5%;

  @include tablet {
    padding-top: 17.5%;
    width: 65px;
    height: 90px;
    font-size: 12px;
    line-height: 15px;
  }

  @include desktop {
    padding-top: 15%;
    font-size: 13px;
  }
}
.list__item--subitem {
  position: absolute;
  display: block;
  width: 43px;
  height: 43px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50px;
  top: -1%;
  margin-left: 7%;
  text-align: center;
  padding-top: 9%;
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;

  @include tablet {
    width: 53px;
    height: 53px;
    font-size: 12px;
    padding-top: 14%;
  }
}

.products__modal--wrapper {
  width: 131px;
  height: 131px;
  left: 0;
  right: 0;
  margin: auto;

  display: inline-block;
  position: absolute;

  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 50%;

  @include desktop {
    width: 301px;
    height: 300px;
    top: 90px;
  }
}
.products__modal--image {
  margin-top: -4px;
  border-radius: 50%;

  @include desktop {
    width: 301px;
    height: 300px;
    margin-top: -10px;
  }
}
.products__modal-block {
  width: 100%;

  @include tablet {
    min-width: 368px;
    padding: 0 40px;
  }
}

.products__modal--subtitle {
  color: $black;
  margin-top: 39px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;

  @include tablet {
    margin-top: 48px;
  }
}

.products__modal-list {
  margin-top: 24px;
}
.products__modal--item {
  color: $black;
  font-size: 14px;
  line-height: 176%;
  justify-content: space-between;
  display: flex;
  row-gap: 16px;
}
.modal--item--item {
  color: $black;
  font-size: 14px;
  line-height: 176%;
}

.products__modal-form {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 12px;

  // width: 224px;

  .products__modal-input {
    padding: 8px 12px;
    width: 100%;
    height: 42px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    /* or 17px */

    color: $black;

    &::placeholder {
      color: $black;
    }

    @include tablet {
      height: 42px;
    }
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-bezier;
    cursor: $cursor-dark;
    &:hover {
      border-color: rgb(27, 74, 27);
    }
  }

  .products__modal-comment {
    margin-bottom: 12px;
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 64px;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;

    color: $black;
    @include tablet {
      width: 100%;
      height: 84px;
    }

    &::placeholder {
      color: $black;
    }
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $cubic-bezier;
    cursor: $cursor-dark;
    &:hover {
      border-color: rgb(27, 74, 27);
    }
  }
}

.products__modal-button {
  padding: 12px 34px;
  margin-bottom: 0;
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  // display: flex;
  // align-items: center;
  text-align: center;

  color: $black;

  background: $accent-color;
  border-radius: 10px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: $cubic-bezier;
  cursor: $cursor-dark;

  &:hover {
    background-color: $dark-green;
  }

  &:focus {
    background-color: $dark-green;
  }
}
