.reviews {
  /* padding-top: 80px; */
  margin-top: 75px;
  z-index: 0;
  position: relative;
  padding-bottom: 48px;
  @include tablet-only {
    margin-top: 55px;
  }

  @include desktop {
    margin-top: 123px;
  }

  &__img {
    margin: 0 auto 32px auto;
    height: 85px;
    max-width: 85px;
    border-radius: 50%;

    @include tablet {
      margin-bottom: 28px;
    }
  }
  &__text {
    padding: 34px 39px;
    width: 90%;
    margin: 0 auto 30px auto;
    font-size: 12px;
    line-height: calc(31 / 12);
    text-align: center;

    border-radius: 10px;
    background-color: $main-color;

    @include mobile {
      width: 440px
    }

    @include tablet {
      padding: 28px 80px;
      margin-bottom: 32px;
      width: 705px;
      margin: 0 auto;
      font-size: 14px;
      font-weight: 500;
      line-height: calc(26 / 14);

      border-radius: 24px;
    }

    @include desktop {
      padding: 39px 74px;
      width: 968px;
      margin: 0 auto;
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }

  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(37 / 20);
    text-align: center;

    color: $black;

    @include tablet {
      font-size: 16px;
      line-height: calc(30 / 16);
      margin-top: 32px;
    }
  }

  &__slide {
    margin: 0 auto;
    min-width: 280px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include tablet {
      height: 313px;
    }
  }

  &__wrapper-dots {
    display: flex;
    justify-content: center;
    gap: 18px;
    margin-top: 14px;

    @include tablet {
      margin-top: 32px;
    }

    @include desktop {
      margin-top: 32px;
    }
  }

  /*  swiper */

  .swiper-pagination {
    position: unset;
    height: 14px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $grey-dot;
    background-color: $grey-dot;
    opacity: 1;

    transition-property: background-color, border, scale;
    transition-duration: 250ms;
    transition-timing-function: $cubic-bezier;

    @include desktop {
      &:hover {
        cursor: $cursor-dark;
        border: 1px solid $main-color;
        border-radius: 50%;
        background-color: $main-color;
        scale: 1.2;
      }
    }
  }

  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    border: 1px solid $main-color;
    border-radius: 50%;
    background-color: $main-color;
    scale: 1.2;
  }
}
